/* Estilo para la barra de navegación en estilos-index-login.css */
.navbar-light .navbar-nav .nav-link {
    font-size: 18px; /* Tamaño de fuente ligeramente más grande */
    color: #333; /* Color de texto predeterminado */
    font-family: "Arial, Helvetica, sans-serif"; /* Tipografía predeterminada */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Transición suave */
}

/* Efecto de transición de color en los enlaces del menú de navegación en estilos-index-login.css */
.navbar-light .navbar-nav .nav-link:hover {
    color: #007BFF; /* Cambia el color del texto al pasar el cursor sobre él */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agrega sombra al texto */
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Transición suave */
}

/* Estilo para las celdas de libros */
.card {
    width: 300px;
    height: 450px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Arial, Helvetica, sans-serif'; /* Nueva tipografía */
}

/* Efecto de transformación y sombra en el hover de la celda del libro */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Esquinas dobladas como un libro abierto */
.card::before, .card::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.card::before {
    top: 0;
    left: 0;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
}

.card::after {
    top: 0;
    right: 0;
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Icono de libro abierto antes del título */
.card-title::before {
    content: '📖';
    margin-right: 5px;
}

/* Estilo para la imagen de las tarjetas de libros */
.card img {
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
    margin: 0 auto;
}

/* Estilo para el contenido de la celda (nombre del autor, categoría, descripción) */
.card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo para el título del libro */
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

/* Estilo para la categoría del libro */
.card-category {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
    font-family: 'Arial, Helvetica, sans-serif'; /* Nueva tipografía */
}

/* Estilo para la descripción del libro */
.card-description {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Estilo para el botón Comprar */
.btn-warning {
    margin: 10px auto;
}

/* Estilo para el formulario de búsqueda */
.input-group {
    margin: 20px 0;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #007BFF;
    font-weight: 600;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
    border-radius: 0;
    font-weight: 600;
}

/* Estilo para las barras laterales */
.list-group-item {
    background-color: #007BFF;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s;
}

.list-group-item a {
    color: #fff;
    text-decoration: none;
}

.list-group-item:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla de precio promedio */
.table {
    margin-top: 20px;
    font-family: 'Arial, Helvetica, sans-serif';
}

.table thead {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

.table thead th {
    border: none;
    border-radius: 0;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.table tbody tr td {
    border: none;
    border-radius: 0;
    text-align: center;
}