body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #007BFF;
}